body {
	font-family: Cuprum, Arial, sans-serif;
}

h1 {
	font-size: 36px;
	line-height: 1.8em;
	font-weight: bold;
	text-transform: uppercase;
}

h2 {
	font-size: 30px;
	line-height: 1.8em;
	font-weight: normal;
	text-transform: uppercase;
}

p {
	font-size: 16px;
    line-height: 1.4em;
}

span {
	font-style: italic;
    color: #ef6973;
}

.layout-positioner:after {
    content: "";
    display: table;
    clear: both;
}

header {
	background-color: #293449;
}

.main-header {
	height: 50px;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-info {
	height: 275px;
	background-color: #f1f5f7;
	margin-bottom: 60px;

}

.logo {
	width: 50%;
	float: left;
		
}

.label {
	display: inline-block;
	width: 225px;
	height: 50px;
	margin-right: 20px;
	background-color: #ef6973;
	color:  #f1f2f4;
	font-size: 24px;
	line-height: 1.5em;
	text-transform: uppercase;
	text-align: center;
	box-shadow: 0 6px 4px -4px #b52933;
	box-sizing: border-box;
}

.search {
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
	box-sizing: border-box;
}

.purchase {
	width: 50%;
	float: right;
	margin-top: 10px;
	box-sizing: border-box;
	padding-left: 45px;
}
  
.purchase-block {
	list-style: none;
	margin: 0;
	padding: 0px;
}

 .purchase-block li {
    display: inline-block;
	
}

 .purchase-block a {
	
	text-decoration: none;
}

.bookmarks, .basket {
	color:  #f1f2f4;
	margin: 20px;
}	


.order {
	
	color:  #f1f2f4;
	background-color: #63a63e;
	text-align: center;

}

.info-box {
	padding-top: 50px;
	background-color:  #f1f5f7;
}

.info {
	width: 250px;
	padding-left: 45px;
	font-size: 14px;
	float: left;
}

.adress-block {
	width: 270px;
	float: left;
	
}

.phone {
	border: 1px solid white;
	color: #e9292a;
	font-size: 21px;
	line-height: 1.2em;
	text-align: center;
	box-sizing: border-box;
}

.adress-block p {
	font-size: 12px;
}

.user-block {
	width: 300px;
	float: right;
}
 
.user-block a {
	text-decoration: none;
	color: #444444;
}


.log-in  {
	width: 120px;
	display: inline-block;
	min-height: 50px;
	background-color: #ffffff;
	text-align: center;
	box-sizing: border-box;
	margin-right: 10px;
    line-height: 50px;
	
	
}
 .log-in :last-child {
 	width: 150px;
 	margin-right: 0;
 }


.navigation {
	height: 60px;
	clear: both;
	box-shadow: 0 6px 4px -4px #293449;
}

.main-menu li {
	display: inline-block;
	list-style: none;
	padding-top: 20px;
}

.main-menu a {
	text-decoration: none;
	color: #f1f2f4;
	padding: 0 20px 0 20px
}

.nav-menu {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 300px;
	color: #f1f2f4;
	
}

.materials {
	background-color: #f6b22d;
	
}

.tools {
	background-color: #4aafde;
	
}

.tech {
	background-color: #cc79d1;
	
	margin-right: 0;
}

.sale {
	background-color: #85d179;
	
}

.delivery {
	background-color: #f6b22d;
	
}

.nav-menu img {
	margin-left: 35px;
	margin-bottom: 30px;

}

.tools-btn {
	min-height: 40px;
	width: 140px;
	margin-left: 25px;
	margin-bottom: 20px;
}

footer {
    min-height: 70px;
    background-color: #293449;
	color: #f1f2f4;

}

.main-footer {
	background-color: #32425c;
	color: #f1f2f4;
}

.popular {
	text-align: left;
	line-height: 30px;
}

.popular-catalog {
	width: 940px;
	background-color: #f7f3ec;
	margin-bottom: 20px;
}

.popular h2 {
	width: 60%;
	float: left;
	margin:0;
	padding-top: 10px;
	padding-left: 20px;
}

.btn {
	background-color: #ee3643;
	color: #ffffff;
}


.items-btn {
	float: right;
	vertical-align: top;
}

.catalog {
	width: 620px;
    height: 266px;
    border: 1px solid #888;
    position: relative;
    text-align: center;
}
 .promo-slider input {
 	display: none;
}

 .promo-slider  input + label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background: rgba(90, 90, 90, 0.8);
    border: 2px solid rgba(190, 190, 190, 0.8);
    cursor: pointer;
    z-index: 100;
    position: relative;
    margin-right: 4px;
    top: 90%;
    transition: background 0.8s ease-out 0s;
}

 .promo-slider  input + label:hover {
    background:  #ee3643;
}

 .promo-slider  input:checked + label {
    background: #ee3643;
}

 .promo-slider  div {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

 .promo-slider  input:checked + label + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

.promo-slider  div  h1 {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: left;
   
}

 .promo-slider  div  p {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: left;
   
}

.promo-slider  div  a {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: left;

   
}

.popular-link {
	width: 40%;
	float: right;

}

.popular-btn {
	text-decoration: none;
	width: 200px;
	box-sizing: border-box;
	text-transform: uppercase;
	font-size: 14px;

}


.producer {
	width: 220px;
	min-height: 140px;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: center;
	vertical-align: top;
	border: 1px solid #e7e7e7;

}

.producer:nth-child(4n) {
	margin-right: 0;
}

.producer a {
	vertical-align: middle;
}

.company-block {
	
	min-height: 540px;
	
}

.about-company {
	width: 540px;
	float: left;
}



.contacts {
	width: 300px;
	float: right;
	margin-right: 0;
	line-height: 24px;

}

.contacts img {
	margin-top: 40px;
	margin-bottom: 20px;
}

.contacts-btn {
	display: block;
	width: 300px;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}

.popular-items {
	width: 220px;
	min-height: 320px;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: center;
	vertical-align: top;
	border: 1px solid #e7e7e7;
	box-sizing: border-box;
}

.popular-items:last-child {
	margin-right: 0px;
}

.main-footer {
	min-height: 190px;
	list-style: none;
	margin: 0;
	
}

 .main-footer li {
    display: inline-block;
}

 .main-footer a {
	color: #ffffff;
	text-decoration: none;
}

.yellow-link a {
	color: #f1c77e;
}

.feedback-block {
	list-style: none;
	margin: 0;
	padding: 15px;
}

.feedback-block li {
    
	display: inline-block;
}

 .feedback-block a {
	color: #ffffff;
	text-decoration: none;
}

.producer a { 
vertical-align: middle; 
line-height: 140px; 
} 
.producer img { 
vertical-align: middle; 
display: inline-block; 
}

.logo-footer {
	width: 380px;
	float: left;
}

.footer-menu {
	width: 550px;
	float:left;
	padding-top: 40px;
}
.company-menu {
	margin: 0;
	padding: 0
}

.company-menu li {
	margin-right: 40px;
}

.company-menu li:last-child {
	margin-right: 0px;
}

.items-menu {
	padding: 0;
	margin-left: 20px;
	margin-top: 40px;
}

.items-menu li{
    margin-right: 40px;
}


.items-menu li:last-child {
	margin-right: 0;
}

.footer-contacts {
	margin-top: 40px;
}

* {box-sizing: border-box;}